--index-url https://console.redhat.com/api/pypi/public-rhai/rhoai/3.4/cpu-ubi9/simple/
packaging==26.0 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:3d88de7604ff5eef52df30fd9803c8cf1565e6da3bd3c8c3f4e7d7f18c11069c
setuptools==80.9.0 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:76229ec78da40e908a24ef1f23e8e81d47da7ef05dcca002ff237a40bf764595
wheel==0.46.3 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:70ed432fbcd9b7d938edc4be7ac57478e1f48a6b165494deb7e6e1c81a34a15c
