--index-url https://console.redhat.com/api/pypi/public-rhai/rhoai/3.5-EA1/cpu-ubi9-test/simple/
packaging==26.1 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:1630a05b84c6de5ef5a952e8097b85a1a938f2e977b343626efb48ae5791dec7
setuptools==80.9.0 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:76229ec78da40e908a24ef1f23e8e81d47da7ef05dcca002ff237a40bf764595
wheel==0.46.3 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:70ed432fbcd9b7d938edc4be7ac57478e1f48a6b165494deb7e6e1c81a34a15c
