--index-url https://console.redhat.com/api/pypi/public-rhai/rhoai/3.5-EA1/cuda12.9-ubi9-test/simple/
packaging==26.1 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:9fb76017ec2e662371d507f84f48997898ed189b90b779d78cb4d755db1f0392
setuptools==80.9.0 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:7d94d67ca26b5daf4ea2656f1cb0ecde4672ccffb19da1f5beaca942f37f4d1a
wheel==0.46.3 ; implementation_name == 'cpython' and sys_platform == 'linux' \
    --hash=sha256:2d58d184b576d2a66c7a6c44ff76fe515b69b90f08165a93ae046d1eb84f2242
