---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    opendatahub.io/notebook-image: "true"
  annotations:
    opendatahub.io/notebook-image-url: "https://github.com/opendatahub-io/notebooks/tree/main/codeserver"
    opendatahub.io/notebook-image-name: "code-server"
    opendatahub.io/notebook-image-desc: "code-server workbench allows users to code, build, and collaborate on projects directly from web."
    opendatahub.io/notebook-image-order: "8"
  name: code-server-notebook
spec:
  lookupPolicy:
    local: true
  tags:
    # N Version of the image
    - annotations:
        # language=json
        opendatahub.io/notebook-software: |
          [
            {"name": "code-server", "version": "4.92"},
            {"name": "Python", "version": "v3.11"}
          ]
        # language=json
        opendatahub.io/notebook-python-dependencies: |
          [
            {"name": "Boto3", "version": "1.34"},
            {"name": "Kafka-Python", "version": "2.0"},
            {"name": "Matplotlib", "version": "3.8"},
            {"name": "Numpy", "version": "1.26"},
            {"name": "Pandas", "version": "2.2"},
            {"name": "Scikit-learn", "version": "1.4"},
            {"name": "Scipy", "version": "1.12"},
            {"name": "Sklearn-onnx", "version": "1.16"},
            {"name": "ipykernel", "version": "6.29"}
          ]
        openshift.io/imported-from: quay.io/opendatahub/workbench-images
        opendatahub.io/workbench-image-recommended: 'true'
        opendatahub.io/notebook-build-commit: $(odh-codeserver-notebook-image-commit-n)
      from:
        kind: DockerImage
        name: $(odh-codeserver-notebook-image-n)
      name: "2024.2"
      referencePolicy:
        type: Source
    # N-1 Version of the image
    - annotations:
        # language=json
        opendatahub.io/notebook-software: |
          [
            {"name": "code-server", "version": "4.22"},
            {"name": "Python", "version": "v3.9"}
          ]
        # language=json
        opendatahub.io/notebook-python-dependencies: |
          [
            {"name": "Boto3", "version": "1.34"},
            {"name": "Kafka-Python", "version": "2.0"},
            {"name": "Matplotlib", "version": "3.8"},
            {"name": "Numpy", "version": "1.26"},
            {"name": "Pandas", "version": "2.2"},
            {"name": "Plotly", "version": "5.19"},
            {"name": "Scikit-learn", "version": "1.4"},
            {"name": "Scipy", "version": "1.12"},
            {"name": "Sklearn-onnx", "version": "1.16"},
            {"name": "ipykernel", "version": "6.29"}
          ]
        openshift.io/imported-from: quay.io/opendatahub/workbench-images
        opendatahub.io/workbench-image-recommended: 'false'
        opendatahub.io/notebook-build-commit: $(odh-codeserver-notebook-image-commit-n-1)
      from:
        kind: DockerImage
        name: $(odh-codeserver-notebook-image-n-1)
      name: "2024.1"
      referencePolicy:
        type: Source
