---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    opendatahub.io/notebook-image: "true"
  annotations:
    opendatahub.io/notebook-image-url: "https://github.com/opendatahub-io/notebooks/tree/main/rstudio"
    opendatahub.io/notebook-image-name: "R Studio"
    opendatahub.io/notebook-image-desc: "R Studio workbench image, allows to integrated development environment for R, a programming language for statistical computing and graphics."
    opendatahub.io/notebook-image-order: "9"
  name: rstudio-notebook
spec:
  lookupPolicy:
    local: true
  tags:
    # N Version of the image
    - annotations:
        opendatahub.io/notebook-software: '[{"name":"Python","version":"v3.9"}]'
        opendatahub.io/notebook-python-dependencies: '[{"name":"r-studio","version":"4.3"}]'
        openshift.io/imported-from: quay.io/opendatahub/workbench-images
        opendatahub.io/workbench-image-recommended: 'true'
        opendatahub.io/notebook-build-commit: $(odh-rstudio-notebook-image-commit-n)
      from:
        kind: DockerImage
        name: $(odh-rstudio-notebook-n)
      name: "2023.2"
      referencePolicy:
        type: Source
    # N - 1 Version of the image
    - annotations:
        opendatahub.io/notebook-software: '[{"name":"Python","version":"v3.9"}]'
        opendatahub.io/notebook-python-dependencies: '[{"name":"r-studio","version":"4.3"}]'
        openshift.io/imported-from: quay.io/opendatahub/workbench-images
        opendatahub.io/workbench-image-recommended: 'false'
        opendatahub.io/notebook-build-commit: $(odh-rstudio-notebook-image-commit-n-1)
      from:
        kind: DockerImage
        name: $(odh-rstudio-notebook-n-1)
      name: "2023.1"
      referencePolicy:
        type: Source
