[submodule "codeserver/ubi9-python-3.12/prefetch-input/code-server"]
	path = codeserver/ubi9-python-3.12/prefetch-input/code-server
	url = https://github.com/coder/code-server.git
[submodule "codeserver/ubi9-python-3.12/prefetch-input/Pillow"]
	path = codeserver/ubi9-python-3.12/prefetch-input/Pillow
	url = https://github.com/python-pillow/Pillow.git
[submodule "codeserver/ubi9-python-3.12/prefetch-input/arrow"]
	path = codeserver/ubi9-python-3.12/prefetch-input/arrow
	url = https://github.com/apache/arrow.git
[submodule "codeserver/ubi9-python-3.12/prefetch-input/debugpy"]
	path = codeserver/ubi9-python-3.12/prefetch-input/debugpy
	url = https://github.com/microsoft/debugpy.git
