# Build dependencies (PEP 517 build-system.requires) for sdists in requirements.cpu.txt.
#
# Hermeto prefetches sdists alongside wheels. pip needs these build backends
# to compile the sdists. This file lists the transitive closure of all
# build-system.requires from every sdist in the dependency tree.
#
# To regenerate requirements-build.cpu.txt:
#
#   uv pip compile --python-version 3.12 --python-platform linux --no-header \
#       jupyter/universal/ubi9-python-3.12/requirements-build.in \
#       -o jupyter/universal/ubi9-python-3.12/requirements-build.cpu.txt
#
# To re-extract build deps from sdists (when requirements.cpu.txt changes):
#
#   uv run python3 jupyter/universal/ubi9-python-3.12/extract-build-deps.py \
#       jupyter/universal/ubi9-python-3.12/requirements.cpu.txt
#

build
cffi
cython
expandvars
flit-core
hatch-fancy-pypi-readme
hatch-jupyter-builder
hatch-nodejs-version
hatch-vcs
hatchling
jupyter-client
jupyter-packaging
jupyterlab
maturin
nanobind
packaging
pdm-backend
pkgconfig
poetry-core
scikit-build-core
setuptools
setuptools-rust
setuptools-scm
tomli
typing-extensions
trove-classifiers
vcs-versioning
wheel
calver
