build==1.5.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
cython==3.2.8
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
deprecation==2.1.0
    # via jupyter-packaging
expandvars==1.1.2
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
flit-core==3.12.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
hatch-fancy-pypi-readme==25.1.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
hatch-jupyter-builder==0.9.1
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
hatch-nodejs-version==0.4.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
hatch-vcs==0.5.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
hatchling==1.31.0
    # via
    #   -r jupyter/universal/ubi9-python-3.12/requirements-build.in
    #   hatch-fancy-pypi-readme
    #   hatch-jupyter-builder
    #   hatch-nodejs-version
    #   hatch-vcs
jupyter-packaging==0.12.3
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
maturin==1.14.1
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
packaging==26.2
    # via
    #   -r jupyter/universal/ubi9-python-3.12/requirements-build.in
    #   build
    #   deprecation
    #   hatchling
    #   jupyter-packaging
    #   scikit-build-core
    #   setuptools-scm
    #   vcs-versioning
    #   wheel
pathspec==1.1.1
    # via
    #   hatchling
    #   scikit-build-core
pdm-backend==2.4.9
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
pkgconfig==1.6.0
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
pluggy==1.6.0
    # via hatchling
poetry-core==2.4.1
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
pyproject-hooks==1.2.0
    # via build
scikit-build-core==1.0.3
    # via -r jupyter/universal/ubi9-python-3.12/requirements-build.in
setuptools==83.0.0
    # via
    #   -r jupyter/universal/ubi9-python-3.12/requirements-build.in
    #   jupyter-packaging
    #   setuptools-scm
setuptools-scm==10.2.0
    # via
    #   -r jupyter/universal/ubi9-python-3.12/requirements-build.in
    #   hatch-vcs
tomlkit==0.15.1
    # via jupyter-packaging
trove-classifiers==2026.6.1.19
    # via hatchling
vcs-versioning==2.2.2
    # via setuptools-scm
wheel==0.47.0
    # via
    #   -r jupyter/universal/ubi9-python-3.12/requirements-build.in
    #   jupyter-packaging
