# https://github.com/containers/podman/blob/main/contrib/systemd/system/podman.service.in
# https://docs.podman.io/en/latest/markdown/podman-system-service.1.html
# cat /usr/lib/systemd/system/podman.socket

[Unit]
Description=Podman API Service
Requires=podman.socket
After=podman.socket
Documentation=man:podman-system-service(1)
StartLimitIntervalSec=0

[Service]
Delegate=true
Type=exec
KillMode=process
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/usr/bin:/bin:/usr/sbin:/sbin"
WorkingDirectory=/home/linuxbrew/.linuxbrew
ExecStart=/home/linuxbrew/.linuxbrew/opt/podman/bin/podman --log-level=info system service

[Install]
WantedBy=default.target
