[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
# TensorFlow and useful extensions

tensorflow = "~=2.11.0"
tensorboard = "~=2.11.2"
tf2onnx = "~= 1.13.0"

# Datascience
kafka-python = "~=2.0.2"
matplotlib = "~=3.6.3"
numpy = "~=1.24.1"
pandas = "~=1.5.3"
plotly = "~=5.13.0"
scikit-learn = "~=1.2.1"
scipy = "~=1.10.0"
codeflare-sdk = "~=0.8.0"

[requires]
python_version = "3.9"
