---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: rstudio-
resources:
  - pod.yaml
images:
  - name: rstudio-workbench
    newName: quay.io/opendatahub/workbench-images
    newTag: rstudio-rhel9-python-3.11
