
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# JupyterLab packages
jupyterlab = "==4.4.4"
jupyter-server = "~=2.16.0"
jupyter-server-proxy = "~=4.4.0"
jupyter-server-terminals = "~=0.5.3"
jupyterlab-git = "~=0.51.1"
nbdime = "~=4.0.2"
nbgitpuller = "~=1.2.2"

# Base packages
wheel = "~=0.45.1"
setuptools = "~=78.1.1"

[requires]
python_version = "3.12"
