# RHAIENG-5765: pandoc-rhai from rocm7.14-ubi9 (sidecar; EA2 rocm7.1 lock index does not ship pandoc-rhai)
pandoc-rhai @ https://packages.redhat.com/api/pulp-content/public-rhai/rhoai/3.5/rocm7.14-ubi9/pandoc_rhai-3.9.0.2-14-py3-none-linux_x86_64.whl ; python_full_version == '3.12.*' and implementation_name == 'cpython' and sys_platform == 'linux' and platform_machine == 'x86_64' \
    --hash=sha256:28612161ca441a4605f5b59fae1791f4ccfef8de57dd2b60bfaba039b7f20082
