[project]
name = "pytorch-notebook"
version = "0.1.0"
requires-python = "==3.12.*"

dependencies = [
    # PyTorch packages
    "tensorboard~=2.20.0",
    "torch==2.7.1+cu128",
    "torchvision==0.22.1+cu128",

    # Datascience and useful extensions
    "boto3~=1.40.52",
    "kafka-python-ng~=2.2.3",
    "matplotlib~=3.10.7",
    "numpy~=2.3.4",
    "pandas~=2.3.3",
    "plotly~=6.3.1",
    "scikit-learn~=1.7.2",
    "scipy~=1.16.2",
    "skl2onnx~=1.19.1",
    "onnxconverter-common~=1.13.0", # Required for skl2onnx, as upgraded version is not compatible with protobuf
    "codeflare-sdk~=0.33.0",
    "feast~=0.56.0",

    # DB connectors
    "pymongo~=4.15.3",
    "psycopg~=3.2.10",
    "pyodbc~=5.2.0",
    "mysql-connector-python~=9.4.0",

    # This is a comprehensive list of python dependencies that Elyra requires to execute Jupyter notebooks.
    "ipykernel~=6.30.1",
    "ipython~=9.6.0",
    "ipython-genutils~=0.2.0",
    "jinja2~=3.1.6",
    "jupyter-client~=8.6.3",
    "jupyter-core~=5.8.1",
    "markupsafe~=3.0.3",
    "minio~=7.2.18",
    "nbclient~=0.10.2",
    "nbconvert~=7.16.6",
    "nbformat~=5.10.4",
    "papermill~=2.6.0",
    "pyzmq~=27.1.0",
    "prompt-toolkit~=3.0.52",
    "requests~=2.32.5",
    "tornado~=6.5.2",
    "traitlets~=5.14.3",
    "urllib3~=2.5.0",

    # Base packages
    "setuptools==80.9.0",
    "wheel==0.45.1",
]

[tool.uv.sources]
torch = { index = "pytorch-cuda" }
torchvision = { index = "pytorch-cuda" }

# https://docs.astral.sh/uv/concepts/indexes/#package-indexes
[[tool.uv.index]]
name = "pytorch-cuda"
url = "https://download.pytorch.org/whl/cu128"
explicit = true

[tool.uv]
environments = [
    "sys_platform == 'linux' and implementation_name == 'cpython'",
]
