[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
# Habana requirements
habana_media_loader = "==1.13.0.463"
# TensorFlow and useful extensions
habana-tensorflow = "==1.13.0.463"
tensorflow-cpu = "==2.12.1"
tensorflow-io = "==0.32.0"
tensorboard = "~=2.12.2"
tf2onnx = "~= 1.13.0"
# Pytorch and useful extension
habana-pyhlml = "==1.13.0.463"
# Below pkgs are required for pytorch-fork
cffi = "==1.15.1"
typing-extensions = ">=4.5.0"
numpy = "==1.23.5"
ninja = ">=1.11.1"
pyyaml = "==6.0"
pybind11 = "==2.10.4"
mkl = "==2023.1"
mkl-include = "==2023.1"
# Parent image requirements to maintain cohesion
boto3 = "~=1.34.50"
kafka-python = "~=2.0.2"
matplotlib = "~=3.7.5"
pandas = "~=2.0.3"
plotly = "~=5.20.0"
scikit-learn = "~=1.3.2"
scipy = "~=1.10.1"
skl2onnx = "~=1.16.0"
onnxconverter-common = "~=1.13.0" # Required for skl2onnx, as upgraded version is not compatible with protobuf
codeflare-sdk = "~=0.16.1"
# DB connectors
pymongo = "~=4.6.2"
psycopg = "~=3.1.18"
pyodbc = "~=5.1.0"
mysql-connector-python = "~=8.3.0"
# JupyterLab packages
odh-elyra = "~=3.16.6"
jupyterlab = "~=3.6.7" # Wait on upgrade till plugins are ready
jupyter-bokeh = "~=3.0.7" # Upgrade would bring in jupyterlab 4
jupyter-server = "~=2.13.0"
jupyter-server-proxy = "~=4.0.0" # Upgrade would bring in jupyterlab 4
jupyter-server-terminals = "~=0.5.3"
jupyterlab-git = "~=0.44.0"
jupyterlab-lsp = "~=4.2.0"
jupyterlab-widgets = "~=3.0.10"
jupyter-resource-usage = "~=0.7.2"
nbdime = "~=3.2.1"
nbgitpuller = "~=1.2.0"
# Base packages
wheel = "~=0.43.0"
setuptools = "~=69.2.0"

[requires]
python_version = "3.8"
