# Copied from: https://github.com/elyra-ai/elyra/blob/main/etc/generic/requirements-elyra.txt

# This is a comprehensive list of python dependencies that Elyra requires to execute Jupyter notebooks.
# This requirements.txt file is for the exclusive reason to escape falling into https://github.com/opendatahub-io/elyra/blob/0ec8a571df6b3614aca91f20fe0b1dbdc8743dc6/elyra/pipeline/kfp/processor_kfp.py#L1099, 
incase the details are need please follow the comprehensive list of python dependencies present here:
https://raw.githubusercontent.com/opendatahub-io/elyra/refs/heads/main/etc/generic/requirements-elyra.txt
