# JupyterLab data science requirements
scikit-learn==1.2.0
kafka-python==2.0.2
matplotlib==3.6.2
pandas==1.5.2
numpy==1.24.1
#boto3==1.26.41
boto3==1.24.39
scipy==1.9.3

# JupyterLab extensions
jupyter-resource-usage==0.6.4
jupyterlab-s3-browser==0.12.0
jupyterlab-widgets==3.0.5
jupyterlab-lsp==3.10.2
jupyter-bokeh==3.0.5
plotly==5.11.0
