[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
# Habana requirements
habana_media_loader = "==1.10.0.494"

# TensorFlow and useful extensions
habana-tensorflow = "==1.10.0.494"
tensorflow-cpu = "==2.12.0"
tensorflow-io = "==0.32.0"
tensorboard = "~=2.12.2"
tf2onnx = "~= 1.13.0"

# Pytorch and useful extension
habana-pyhlml = "==1.10.0.494"

# Below pkgs are required for pytorch-fork
cffi = "==1.14.6"
typing-extensions = ">=4.0.0"
numpy = "==1.23.5"
ninja = "==1.10.2"
pyyaml = "==5.4.1"
mkl = "==2022.0.2"
mkl-include = "==2022.0.2"
pybind11 = "==2.6.2"

# Parent image requirements to maintain cohesion
elyra-pipeline-editor-extension = "~=3.15.0"
elyra-python-editor-extension = "~=3.15.0"
elyra-code-snippet-extension = "~=3.15.0"
kfp-tekton = "==1.5.7" # pinned to avoid upgrade of pyyaml which is required.
boto3 = "~=1.26.165"
kafka-python = "~=2.0.2"
matplotlib = "~=3.6.3"
pandas = "~=1.5.3"
plotly = "~=5.13.1"
scikit-learn = "~=1.2.2"
scipy = "~=1.10.1"

jupyter-bokeh = "~=3.0.5"
jupyterlab-lsp = "~=3.10.2"
jupyterlab-widgets = "~=3.0.5"
jupyter-resource-usage = "~=0.7.2"

# Parent image requirements to maintain cohesion
jupyterlab = "~=3.5.3"
jupyter-server = "~=2.1.0"
jupyter-server-proxy = "~=3.2.4"
jupyter-server-terminals = "~=0.4.4"
jupyterlab-git = "~=0.41.0"
nbdime = "~=3.1.1"
nbgitpuller = "~=1.1.1"
# ---
wheel = "~=0.38.4"

# conflict between python-lsp-server and following packages
# due to pycodestyle dependency, pinning this, till we get 
# a fix from python-lsp-server 
autopep8 = "~=2.0.4"
flake8 = "~=7.0.0"

[requires]
python_version = "3.8"
