[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
# Datascience and useful extensions
boto3 = "~=1.35.14"
kafka-python-ng = "~=2.2.2"
matplotlib = "~=3.9.2"
numpy = "~=2.1.0"
pandas = "~=2.2.2"
plotly = "~=5.23.0"
scikit-learn = "~=1.5.1"
scipy = "~=1.14.1"
skl2onnx = "~=1.17.0"
onnxconverter-common = "~=1.13.0" # Required for skl2onnx, as upgraded version is not compatible with protobuf
codeflare-sdk = "~=0.26.0"

# DB connectors
pymongo = "~=4.8.0"
psycopg = "~=3.2.1"
pyodbc = "~=5.1.0"
mysql-connector-python = "~=9.0.0"

# This is a comprehensive list of python dependencies that Elyra requires to execute Jupyter notebooks.
ipykernel = "~=6.29.5"
ipython = "~=8.27.0"
ipython-genutils = "~=0.2.0"
jinja2 = "~=3.1.4"
jupyter-client = ">=8.6.3"
jupyter-core = "~=5.7.2"
MarkupSafe = "~=2.1.5"
minio = "~=7.2.8"
nbclient = "~=0.10.0"
nbconvert = "~=7.16.4"
nbformat = "~=5.10.4"
papermill = "~=2.6.0"
pyzmq = "~=26.2.0"
prompt-toolkit = "~=3.0.47"
requests = "~=2.32.3"
tornado = "~=6.4.1"
traitlets = "~=5.14.3"
urllib3 = "~=1.26.20"

# Base packages
setuptools = "==74.1.3"
wheel = "==0.44.0"

[requires]
python_version = "3.11"
