--index-url https://packages.redhat.com/api/pypi/public-rhai/rhoai/3.6/spyre-ubi9-test/simple/
annotated-doc==0.0.5 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f4ca27ea844dbed94fe06283f5c80bea8198d627eab480091c759cf1cbe71ad2
anyio==4.15.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:4553e6388c6df281aed90e86bc506bb1d3152e8aae0d71618fc62fd280a2c7ba
argon2-cffi==25.1.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:aad07c4ed964773b3b11d5dc31b45de0cb36abc7abe39632df0d385bfe1028b9
argon2-cffi-bindings==26.1.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:9fa0c1946e1e496e6774d97a24a11dc340b34bb3e6eda44c814a4f6e33c63548
arrow==1.4.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:0b9aa46602c409de007798a77bda1979a4693e4cb36345148778f859f301dd87
asttokens==3.0.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a341a92c5c9778d0b31ea515e107dce9053f43f50bfef3d29efbbbbb7c03d04c
async-lru==2.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:dbcc9cda01009bb4b8331c47bf96313abbf79750118ee0d23baa179c9081d037
attrs==26.1.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:7dd3f55e4c6b0eb6610054ba9ff36e35933f0670f12d5bb033fab58eb6ba37e8
babel==2.18.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:60d58779024b186c65cb9adeaf31032c4c6b91d4e26eef65cafd2315e8e87289
beautifulsoup4==4.15.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a381cd867d7a6174fa47183c0bf7d04a1539cea4e96c69a3e48532b394728222
bleach==6.4.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:125a598fec9021b3174fb698cc47124e0f505df94169c85c0ebb02514707b59e
certifi==2026.7.22 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:b54ad8cbe70737bd34ed88aa0196626ad01acc862a6aebd37b813572a4208fc7
cffi==2.1.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:0e7cfb965fee83f41161b8d37dc29cbf62fe1390514a9159ad0d51ee63664a6e
charset-normalizer==3.5.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:7cab41c23c316843033c600f66b4a69be596629d3cf452405fff788019dc5762
click==8.5.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f18275137fcd9dec0b0f135c75641976c0298513a646575d04057c9780719f99
comm==0.2.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:29444b130c73798f1c2d657aa734ab0762490a25651591d97fe5e7b3a2cbb9bf
debugpy==1.8.22 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:6552ca00d1ce0e924059edc16b00e8957dd680b6a9f55d00e4f137a13aeed489
defusedxml==0.7.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:7007579c5960037e1a9c4084e13eddf78c49297228fce28de9881e4064ddd816
executing==2.2.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:782eb898e5b37b78f554c23d8c5549f163c1db3bfc0ffdbb178f041ca1c1784b
fastjsonschema==2.22.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a024adcd4f917dd7f12a2c34425c8e17b70be59b7956e550e8752e9257dfed53
filelock==4.0.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:cb6daa7805cacc730bf263f90ea41907b0b5bd77dae3008f3cae39fee71df821
fqdn==1.5.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:14ba9f91a91da57bda7f1f29ff081519f7a640aa949ad67b318ecc3c84cdc8d4
fsspec==2026.9.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:e969bc93ca27cc925ef3cbc7ec73e56ee084f02e3b3d8cda7ef879c7c87e6f1c
h11==0.16.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:4c243872749d426a6c00612dbb923762390e7bb7f6fdf7fe32dae99c415aff20
httpcore==1.0.9 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:0966d7303ac9f19280410f038168c74235b33991764c662de227a4ffda7e7540
httpx==0.28.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f00ffde60f76f1e2c49bc5a1a6a28c16c7e71b2ff5270758bfb7a993b76c34b3
huggingface-hub==1.33.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:fe9e2d4025a15f9fb543e7980e037a9e076053614cd8f89b673c7b76c7cd46c8
idna==3.20 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:73e079c7471318abd0b79034aec3378c7eaa85a7874b591fb9f7c35e8fca37f0
ipykernel==7.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:b84a033b6c9d0b5ab61f651b4039accb12b1707c83cd76f50ef4fe80584fef89
ipython==9.17.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a8bdee3ad66157e543385c621201d72329299c9b91daa98fc2f6c8cdf6c94fc9
ipython-pygments-lexers==1.1.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:82e47a0e52f911b8aa3f80a2428bdb384a7f3edfe199870a92103b08108f4695
isoduration==20.11.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:eb160802ed20928e62d9518a0ecf19466ac62e4ddaaa2198aaac804feb783f6c
jedi==0.20.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:7579a547eb1d61d4457d0587e61947bbc74439dac6dbeb1b1290460daa197fd6
jinja2==3.1.6 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:321e82ef1aea5e2b9a4d5accd7f84f0cc5471fd7df51dc7a8c93807ce994a815
json5==0.15.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:be64340a6619d2b8e8ef21954a1b722db38afe7b758387bac5e858aa9d6eb906
jsonpointer==3.1.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:1aa045bdc550cc8f1dfbf20496ab35a09d2b72d3771e4c9bc3bb789dbb2a9c27
jsonschema==4.26.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a89dd154faeeb9c4f4e926d657c7cf2e47c1eab5197a49a95dfa9ad157b1c327
jsonschema-specifications==2025.9.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f665071c1687603f5a35163c0a77d5793c4a7c0a22df21b688cf5235ab87a6b2
jupyter-client==8.10.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:291e91811facdb5b1f56e5e2453d875aca74baa15d35e8edc41629e666528de1
jupyter-core==5.9.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:be06859cf18fb2b7aa9ce1c59a306a3c08ffb9688d9d2792caa3db41273e6fac
jupyter-events==0.12.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:e949b88a7bc455413381c36735437c7c759185d53e23375c601dd8cf34f4f3fd
jupyter-lsp==2.3.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:3ebf774be157ae4e6d36a4b4030f6ee61c7f40d2f6c87d28d2bf36a51a083e2a
jupyter-server==2.21.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:55ee8f9678eedf36b33ba15137f5841055e4ccaabaa7cf75f810145d1e5f82ad
jupyter-server-terminals==0.5.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:2c6199f0cf46654f7c96c43253f234273df34d9ab7ec100816d8b74225106459
jupyterlab==4.5.11 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:38b94428e8fc9eadfb8844503bb1fb3781c0c85df5112bb2372ffd56a0d76f6a
jupyterlab-pygments==0.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:26b410b9e3c9306cbea498cfd6dc3683de785e2860e555ebf05fd75888469a71
jupyterlab-server==2.28.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:3587adacaad4a40c438176d1aa0820777fa095dd39a25e06ebbeef81df2d8799
lark==1.3.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:0d67ae974db9ce283d86e04b99b45c83bd9b89b93bdb8977ab770fe89a4bc479
markdown-it-py==4.2.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:4bf8ad04b31cdae053a2128049821ce539be54fb2389c867b5df98e68fdb8a16
markupsafe==3.0.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:22e6491d48824cf2f680c12fc130c2417c33f4430c74db372d3539eb3749e2df
matplotlib-inline==0.2.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:5239859a98f7127358f160bf1c327eb8e861af60fcdac3bf8b016850201cc7ee
mdurl==0.1.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:9689b05a7730a81454cdfadaf7665936c2fd7c3f04c25ce169574ad236624f19
micropipenv==1.10.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f552f509ac9a98283e76a60e2a3967233fb8afc17555cf0301306e83fe7381b3
mistune==3.3.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:1252e698318fd4c2ea103ff31ca79437f301c4d8ebdad510d12c77e8de0454a7
mpmath==1.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:87b2eafdeaf80df3b6e879a24978fc51185e31c33956eec04d3f21e6b151c5f9
nbclient==0.11.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:0d1b0e704d07cb0b0d58557048950cc720ab149bab99e35ea8d3288d54d966b4
nbconvert==7.17.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:2955438820b6ef2c0af5950ecdd2051afbaadb7f94fde1427c66e1b0870b5c91
nbformat==5.11.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:585092c54ae12734b78a8a87b55146c063c28e42dc4ccccaf105ea9983be8c20
nest-asyncio2==1.7.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:729bd4fc2fc0799f4b421b3946afd10195c51ec04532d6a01ba794c1295bb586
networkx==3.7 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:790cd65bcf6ca8a73ce17ccd1279fd7c6932d72018e04b069f085c631867b7ff
notebook-shim==0.2.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:587e8ce4b46200f6c24eaf4bbdbf5d5de6e43aea735a2116baf8782cac0eb9ef
numpy==2.5.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:2cfa29378af79c84740ac505e2534f57b9f60dd2d4a1bbf5253bc61ec08d3593
packaging==26.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:c20133efe072107451ebc88d1c811a2595f8e3231597fc65b6ab1881bafc3c0e
pandocfilters==1.5.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:46966139f54b3dafc4c08e042656c8cb5d75defe468e834c3fa2a4c413cd3a5e
parso==0.8.7 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:45364c1d2b683d52090835d525bf8e51b71387e0202b88822ee22ad264c014da
pexpect==4.9.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:cce4f99268e982a7782cdb998c9dfd3887afb7ebb02ce87fb16bfa9e1a4d9ab8
pillow==12.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:70cfb1c8158357a127df7d17a31be941cc7e19b4992ae6a09defc384d6b3c4b8 \
    --hash=sha256:60c85775fef1366d31716ff99b83f4490909e173a398b4e3c74a10b774201e18
pip==26.2.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:5e2ee4c5c008545a7b03093af69ba8e4ff442f40cfd85f9313d5bc7ff2542748
platformdirs==4.12.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:b25e4c9e8c794abe95f7bb54bc099775db5a060dc8c19c33b82d5f52492988f8
prometheus-client==0.26.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:ab2f2aaabcda768b4f06bbec10efb9631aa92816fa251aa6c5422717da80e16e
prompt-toolkit==3.0.53 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:66312e2d245a09476f755177e26dcaac53215e47f14b327119d8489ba54d55c7
psutil==7.2.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:a34bc82e62feaf8bca0dbf254fd451fde1e62905c6a8abf3662e0f0e27eaaa6c
ptyprocess==0.7.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:34f3179a7471fb3fe04cefa7e51ac1fb499fbae1d6baf59c3720ab5ad9c68d11
pure-eval==0.2.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:76bba1d7524ac88e6ba8e342b615dfeac5cf47988373213d9bae321c1a0942f0
pycparser==3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:439ce7600e9a89cfc1095aa1f2615941f067bba706a626fea20a4f2803d1c7cf
pygments==2.21.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:046ad72efc95900efabfa86507bac3bc62c081fb95b6ab7e85c7c03a0bfd7324
python-dateutil==2.9.0.post0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:c3c52114a00ac99942bea25c5f0140ff7aa1197097cc2c4efb06a3c0a2560516
python-json-logger==4.2.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:c706d0248daab038777984017b30658ef9283393602e5312d72a08403c436245
pyyaml==6.0.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:276070ee0a5d7b0c9df86c1881d5b2e503857495e86b1098e0c7ecb513a62c65
pyzmq==27.2.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:fcc10bedb68e2530c2ac8cd7600535c89b06555a7f27515b554ced53d22e8a79
referencing==0.37.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:2563c2284cc69026436e70b359958b4eee4d313d8432eecf3847c48cd01196b2
regex==2026.9.10 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:b589b6156f3f8769969f6b932f4929c59ba3eef45e8bb88b18052b2df5ca0875
requests==2.34.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:043361eb3ceb85c54f433d3084584e4092cb1459b011d48335f3078e6032cca7
rfc3339-validator==0.1.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:3cfea7f10b279f2ef13b1383c542a00de21ddc777bec72272cc5f075b80f48b7
rfc3986-validator==0.1.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:351293b2b1105b30ab9bf1dfd738e61d27358a0d23b096bf170c99239b06d92a
rfc3987-syntax==1.1.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:2082f26e5d1850ad5041bd9c6836bd3e4cbb74dbd25c023ae1832c6e3d2fd8f1
rich==15.0.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:59b060fe6a1eaa73c450dd2674ffa0f9de9dd6b3ca8650efc5ef3213244fa592
rpds-py==2026.6.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:178763b993cacb3359ce6db9686e380ba32593b2198937465c0a4f47f3b32a2c
safetensors==0.8.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:7dab0d17bae8c9ea8139cc358f6067c092c81789cf021cac3c6cbe018bdfefee
send2trash==2.1.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:48e21f67e4657ec03946566d5c0d01c71a1a0c660a843a660fd9d5977a69950e
setuptools==84.0.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:3497c9c45feab6c4d5bcd01845c2817e5f0dada5bae5f9eca5690d9b70874446
shellingham==1.5.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f74afccbfa3a5777b4e13372fb16bb17595285106ff0973362e4a9a2cba6e514
six==1.17.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:cab249de5be083cbd4a3a0a89b1064ee615f5431c217995a8ae4c71e8e2f746e
soupsieve==2.10 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:c534392dc37fefc4d324bc64fa3e90fa523701a4294a83a25d66753668b09172
stack-data==0.6.3 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:28b11b0eb1fde58c1549bb5b55de2b55d8961918ee8989d3e84487a8631bb881
sympy==1.14.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:e679093f8455445dc24f79f48b100cbfd32117d61ec957565db73719ba3a4e70
terminado==0.18.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:dd000e268f017f43afff272dfd67f1dff3e02d52153065b36160fbd06aaf43e8
tinycss2==1.5.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:692af8c176234318c8754edd4aa77ac19c301fd191e55afd9b06547e9f13ae60
tokenizers==0.23.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:f253f75a4604823a7287d9d33b0061a8129453be09b4c9a8a156c1d51534d28d
torch==2.11.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:99ea9cdc42ff9f878a6fcf4c8560e6dd9e0001f0418635e2371bfd944798d453 \
    --hash=sha256:6b1f988a9f4c767b5b723ab568eec18c38613f5d6b06a1e7f035b6f5fc18cf94 \
    --hash=sha256:2afe1ce42738ecf139434b3ef42273b00d8d7f00d33d0477b6f612f62111dfe4
torch-sendnn==1.3.1+0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:41cec76edab07947d8d86ed84c180829e4dae2e904ecc812fc6e2b36a777cc0c
torchvision==0.26.0+rhaiv.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:9338c750b3d0891a8b84526b6223672d53f2b47f9db71412ff9ee7d87cf549db
tornado==6.5.10 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:fdc7ecb2593bb8461ee3d00bd978c564db1fec2fac28f2d2806f5c657135e95b
tqdm==4.70.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:fbfd64f5c5712afae32175170b86eef5fb115be18edab2d2a25719d84cb017f3
traitlets==5.16.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:d11bc29d7724583e9e277def042cb3db2f07e3448b6947337d7f0431a3c0cc2b
transformers==5.17.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:8a199d04d011c922ec631ce832fab8555445149debc44be6caf4038043c2691f
typer==0.27.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:3f631498536d0dbb9946082813e8eafa0021daeae78a66de80a4f09c4a2946d8
typing-extensions==4.16.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:ee7cf429e8257bd9e67b8458219d72565e02d486546acb10f3c1d72972513bd5
tzdata==2026.4 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:cde19b3ac29c6f012cf81bbf0112138bbd7380b707fea3037870580ec0082684
uri-template==1.3.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:e163807ed669f37e1700c465b80a585bda28ec141eabafe4ea497f62b7236754
urllib3==2.8.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:815b31495e514078264a09f4cf9b154b904d4ce976b04d0c7d61032ed70a8790
uv==0.12.19 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:ba0e6b1e630d5c030703e927d29fa374d75cc2a7fc5a938d54274677f1d1091f
wcwidth==0.9.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:c0ed819e5eccbcc776197b2762885d3d139eb71d081ffe28b2b505fa29e58908
webcolors==25.10.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:fefa68650ed2611de458da4c4981c5f1b4d4ac4ccff8a5c2e448d1e3185ab451
webencodings==0.6.1 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:d9bbfc5951f5de7426c6a6226d83004874c3cb4d802ebb9d7906783531ee0ec5
websocket-client==1.9.2 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:ff4d33e588219fc2ce38b738e6d90ce36a78946c7729a53671f01b036766a0d4
wheel==0.48.0 ; python_full_version == '3.12.*' and implementation_name == 'cpython' and platform_machine == 'ppc64le' and sys_platform == 'linux' \
    --hash=sha256:4405a2ab62b45b187da3b083de9042359f3cefad83306dcddb68102cc01aa146
