# Notebook requirements
jupyterlab==3.2.4

# JupyterLab requirements
jupyterlab_server==2.3.0
jupyter_server==1.4.1
nbclassic==0.2.6
notebook==6.4.1
ipykernel==5.5.5
ipython==7.16.1

# JupyterLab extensions
jupyterlab-git==0.30.1
nbdime==3.1.0
