
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Jupyter kernel
# c.f. https://docs.jupyter.org/en/latest/install/kernels.html#how-do-i-install-python-2-and-python-3
ipykernel = "~=6.29.5"

# Base packages
wheel = "~=0.44.0"
setuptools = "~=74.1.2"

[requires]
python_version = "3.11"
