# Originally copied from: https://github.com/kubeflow/kale
# This is a comprehensive list of python dependencies that Kale requires to execute Jupyter notebooks.

# This (now effectively blank) requirements.txt file is left here for the exclusive reason to escape falling into
# similar dependency injection issues as with Elyra. In case the details are needed, please follow the
# comprehensive list of python dependencies present in odh-notebooks-meta-runtime-kale-deps.
