---
"name": "Build Notebooks"
"on":
  "pull_request":

permissions:
  contents: read
  packages: read
  pull-requests: read

concurrency:
  group: ${{ format('build-notebooks-pr-{0}', github.event.pull_request.number) }}
  cancel-in-progress: true

jobs:
  gen:
    name: Generate job matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.gen.outputs.matrix }}
      has_jobs: ${{ steps.gen.outputs.has_jobs }}
    steps:
      - uses: actions/checkout@v4

      - run: |
          python3 ci/cached-builds/gen_gha_matrix_jobs.py \
            --owner=${{ github.repository_owner }} \
            --repo=${{ github.event.pull_request.base.repo.name }} \
            --pr-number=${{ github.event.pull_request.number }} \
            --skip-unchanged
        id: gen
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: ["gen"]
    strategy:
      fail-fast: false
      matrix: "${{ fromJson(needs.gen.outputs.matrix) }}"
    uses: ./.github/workflows/build-notebooks-TEMPLATE.yaml
    if: ${{ fromJson(needs.gen.outputs.has_jobs) }}
    with:
      target: "${{ matrix.target }}"
      github: "${{ toJSON(github) }}"
    secrets: inherit
