---
"name": "Build Notebooks (push)"
"on":
  "push":
    "paths-ignore":
      # Don't build images if the only thing that changed is image digests in manifests
      - manifests/base/params-latest.env
      - manifests/base/params.env
      # In fact, skip the build if there are only changes in manifests and nowhere else
      - manifests/**
  "workflow_dispatch":
    inputs:
      "KONFLUX":
        description: "Build also images from Dockerfile.konflux.*; requires subscription"
        type: boolean
        default: false
  "schedule":
    - "cron": "0 2 * * *"

permissions:
  contents: read
  packages: write

jobs:
  gen:
    name: Generate job matrix
    runs-on: ubuntu-latest
    # for odh-io/notebooks and rhds/notebooks, allow only main, rhoai-*, release-*
    if: ${{ github.event_name == 'workflow_dispatch' ||
      (github.repository != 'opendatahub-io/notebooks' && github.repository != 'red-hat-data-services/notebooks')
      || github.ref_name == 'main' || github.ref_name == '2024b' || github.ref_name == '2024a'
      || startsWith(github.ref_name, 'rhoai-') || startsWith(github.ref_name, 'release-') }}
    outputs:
      matrix: ${{ steps.gen.outputs.matrix }}
      has_jobs: ${{ steps.gen.outputs.has_jobs }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          cache-dependency-path: "**/*.sum"

      - name: Determine targets to build (we want to build everything on push)
        run: |
          set -x
          python3 ci/cached-builds/gen_gha_matrix_jobs.py \
            --s390x-images include
        id: gen
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash

  build:
    needs: ["gen"]
    strategy:
      fail-fast: false
      matrix: "${{ fromJson(needs.gen.outputs.matrix) }}"
    uses: ./.github/workflows/build-notebooks-TEMPLATE.yaml
    if: ${{ github.repository != 'red-hat-data-services/notebooks' && fromJson(needs.gen.outputs.has_jobs) }}
    with:
      target: "${{ matrix.target }}"
      python: "${{ matrix.python }}"
      github: "${{ toJSON(github) }}"
      platform: "${{ matrix.platform }}"
      subscription: "${{ matrix.subscription }}"
    secrets: inherit

  build-aipcc:
    needs: ["gen"]
    strategy:
      fail-fast: false
      matrix: "${{ fromJson(needs.gen.outputs.matrix) }}"
    uses: ./.github/workflows/build-notebooks-TEMPLATE.yaml
    if: ${{ (github.repository == 'red-hat-data-services/notebooks' || inputs.KONFLUX) && fromJson(needs.gen.outputs.has_jobs) }}
    with:
      target: "${{ matrix.target }}"
      python: "${{ matrix.python }}"
      github: "${{ toJSON(github) }}"
      platform: "${{ matrix.platform }}"
      # rhds/notebooks builds from AIPCC base images that are RHEL-based
      subscription: ${{ true }}
    env:
      KONFLUX: yes
    secrets: inherit
