---
"name": "Docs (release notes)"
"on":
  "push":
  "pull_request":
  "workflow_dispatch":

permissions:
  contents: read

env:
  poetry_version: '1.8.3'

jobs:
  generate-releasenotes:
    name: Generate list of images for release notes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # https://github.com/astral-sh/setup-uv
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          pyproject-file: "pyproject.toml"

      - name: Run the release notes script
        run: |
          set -Eeuxo pipefail
          uv run ci/package_versions.py | tee ${GITHUB_STEP_SUMMARY}
