---
name: Validation of image references (image SHAs) in params.env and runtime images
on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - 'manifests/base/commit.env'
      - 'manifests/base/params.env'
      - 'ci/check-params-env.sh'

permissions:
  contents: read

jobs:
  validation-of-params-env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get install -y skopeo jq

      - name: Validate the 'manifests/base/params.env' file content
        run: |
          bash ./ci/check-params-env.sh

      - name: Validate references for runtime images
        id: validate-runtime-images-references
        run: |
          bash ./ci/check-runtime-images.sh
