# https://github.com/ruivieira/trustyai-explainability-python/blob/main/.github/workflows/security.yaml
---
name: Security
"on":
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  build:
    name: Trivy scan (fs)
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      security-events: write
    steps:

      # https://github.com/astral-sh/setup-uv
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          activate-environment: false
          ignore-empty-workdir: true
          enable-cache: false

      - name: Checkout code
        uses: actions/checkout@v5

      # Trivy does not support pylock.toml https://github.com/aquasecurity/trivy/discussions/9408
      - run: find . -name pyproject.toml -execdir uv lock \;

      - name: Trivy scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8  # 0.33.1
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'MEDIUM,HIGH,CRITICAL'
          exit-code: '0'
          ignore-unfixed: false

      - name: Update Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
